@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

.background{
  background-color: #E8E8E8;
  height: 100%;
  width: 100%;
  z-index: -1;
  position: absolute;
}

.homepage{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.foreground{
  z-index: 1;
  position: relative;
}

/* ##############  Welcome Message Styles ################*/

@keyframes flashing_typewriter {
  0% {opacity:1;}
  50% {opacity:1;}
  100% {opacity:0;}
}

/* @keyframes cover_words{
  0% {left: 100%;}
  100% {left: 0;}
} */

.typewriter_block{
  height: 40px;
  width: 10px;
  background-color: black;
  display: inline-block;
  z-index: 2;
  position: relative;
  animation: flashing_typewriter 1s linear, cover_words 2s linear;
  animation-iteration-count: infinite;
}

.title{
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 3em;
  color: rgb(50, 50, 50);
  padding-top: 10px;
  display: inline-block;
  padding: 0;
}

.cover_title{
  height: 40px;
  width: 5px;
  z-index: 2;
  display: inline-block;
}