.background{
  background-color: #242323;
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vh;
  /* background-size: cover; */
}

.blob{
  position: absolute;
  width: 30vw;
  height: 30vh;
  background: #fff;
}

.title{
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 4em;
  color: white;
  padding-top: 20vh;
}