@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

.homepage{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.title{
  font-family: 'Raleway', sans-serif;
  font-size: 3em;
  color: black;
  padding-top: 10px;
  display: inline-block;
}

.title_container{
  padding-left: auto;
  padding-right: auto;
  text-align: center;
}